.div-form-edit{
    width: 60%;
    position: fixed;
    bottom: 30%;
    left: 20%;
    border-radius: 2rem;
    height: 70vh;
}
.div-form-edit form {
    margin: 0;
    height: 85vh;
    padding: 0;
}

.div-form-edit .formulario form{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #151515;
    min-width: 100%;
    margin: 0;
}
.div-form-edit .formulario form input{
    height: 20px;
    width: 80%;
    border-radius: 1rem;
}
.div-form-edit .formulario form label{
    
    color: aliceblue;
}
.div-form-edit .formulario form h2{
    color: aliceblue;
}
.div-form-edit .formulario form .campo-texto{
    width: 100%;
}
.div-form-edit .formulario form .lista-suspensa select{
  
    height: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-radius: 1rem;
}
.div-form-edit .formulario form .lista-suspensa{
    width: 80%;
    
}

.div-form-edit .botao{
    margin-bottom: 10px;
}
@media (max-width: 800px) {
    .div-form-edit {
      width: 100%;
      left: 0%;
      height: 90vh;
      bottom: 16%;
    }
    .div-form-edit .botao{
        margin-top: 10px;
    }
    .div-form-edit .formulario form{
        min-width: 95vw;
    }
  }